html,
body {
   margin:0;
   padding:0;
   height:100%;
   overflow-x: hidden;
}

h1{
    font-family: Hammersmith One;
    color: #112d30;
}

h2{
    font-family: Playfair Display;
    color: #67a6b2;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
