{% extends "base.html" %}
{% block content %}

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column cover-container">

    <header class="masthead mb-auto">
        <div class="inner text-center">
          <img src="/static/img/luxettelogo.png"  width="350" alt="Luxette">
        </div>
      </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Our website is getting a facelift but please reach out to us at concierge@luxette.co with any questions or bachelorette inquiries</h1>
      <p class="lead">Follow us on Instagram @luxettebachco</p>
    </main>

    <footer class="mt-auto">
    </footer>

  </div>


{% endblock %}
