{% extends "base.html" %}
{% block content %}
    <div class="container">
        <img src="{{ url_for('static', filename='img/bellas.jpg') }}" alt="404" style="width:100%;">

        <div class="centered">
            <h1 id='one'>Our website is getting a facelift but please reach out to us at concierge@luxette.co with any questions or bachelorette inquiries</h1> <br>
            {# <img src="{{ url_for('static', filename='img/luxettelogowhite.png) }}" alt="404"> #}
            <h2 id='two'>Follow us on Instagram @luxettebachco</h2>
        </div>
    </div>


{% endblock %}
